.header {
  height: 60px;
  width: 100%;
  background: var(--header-bg, rgba(255, 255, 255, 0.5));
  position: sticky;
  .container {
    height: 100%;
    // display: flex;
    // align-items: center;
  }
  .headerLeft {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
