/* 把我们所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
}
/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}
/* 去掉li 的小圆点 */
li {
  list-style: none;
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #c81623;
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 14px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  color: #666;
}

.hide,
.none {
  display: none;
}
/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
/* 会报错
.clearfix {
  *zoom: 1
} */

.container {
  width: 1210px;
  margin: 0 auto;
}

/* 下拉框选项 */
.ant-dropdown {
  inset: auto auto auto 0 !important;
  width: 100% !important;
  position: absolute;
  top: 60px !important;
}
.center {
  text-align: center;
}
.showBg {
  padding: 2px 15px;
}
.showBg:hover {
  background: #f0f4ff;
  padding: 2px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.banner1 {
  background-image: url(./assets/image/banner1.png),
    linear-gradient(90deg, #ede7fa 0, #b5caf8 47.53%, #d2f0fc 100%);
  background-clip: padding-box, padding-box;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
  background-position: center 50%, 0 0;
  background-blend-mode: normal, normal;
  height: 860px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  animation: gradienBg 7s alternate infinite;
  background-size: cover, 300% 300%;
  max-height: 660px;
  padding-top: 180px;
  box-sizing: border-box;
}
.banner2 {
  background-image: url(./assets/image/banner2.png),
    linear-gradient(90deg, #ede7fa 0, #b5caf8 47.53%, #d2f0fc 100%);
  background-clip: padding-box, padding-box;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
  background-position: center 50%, 0 0;
  background-blend-mode: normal, normal;
  height: 660px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  animation: gradienBg 7s alternate infinite;
  background-size: cover, 300% 300%;
  max-height: 860px;
  padding-top: 180px;
  box-sizing: border-box;
}
.freeBtn {
  width: 240px;
  max-width: 240px;
  margin-top: 64px;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  line-height: 42px;
  border-radius: 141.176px;
  background: linear-gradient(90deg, #337ad6, #336df4, #8d55ed);
  background-size: 300% 300%;
  position: relative;
  transition: all 1s ease;
  font-size: 28px;
  padding: 15px 5px;
  top: 0;
}
.freeBtn:hover {
  top: 10px;
}
:where(.css-dev-only-do-not-override-1r287do).ant-carousel
  .slick-dots
  li
  button::after {
  background: #82a7fc;
  height: 3px;
  width: 50px;
}
.bg_hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 30px 10px 20px 10px;
}
.bg_hover:hover {
  background: #eef2f8;
}
.bg_hover:hover > h4 {
  color: #427bff;
}

.tab-switcher {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.button-container div {
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 16px;
}

.button-container div.active {
  font-weight: bold;
  width: 328px;
  min-height: 104px;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(176, 191, 231, 0.417);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  border-radius: 16px;
  padding: 16px 24px;
  margin-bottom: 16px;
}
.button-container div.active h3 {
  color: #3370ff;
}
.button-container p.active {
  font-weight: bold;
  background-color: white;
  display: block;
  font-weight: 500;
}
.button-container p {
  display: none;
  font-weight: 500;
  font-size: 16px;
}
